/*site navigation*/ 
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgb(55, 100, 128);
}

li {
float: right;
display: block;
color: rgb(210, 221, 6);
text-align: center;
padding: 20px 20px;
text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
background-color:  rgb(210, 221, 6);
}  
.site-nav {
        width: 100%;
        position: absolute;
        top: 0;
        margin-top: 20px;
}
/*h1 nav in header*/
.welcome {
    color: rgb(94, 97, 100);
    padding-right: 40px;
    width: 180px;
    background-color: rgb(210, 221, 6);
   margin-left: 10px;
   margin-top: 30px;
z-index: 9999;
position:relative
}
/*img nav in work*/
.grot img {
width: 800px;
height: 400px;
}
.work-inside img {
    width: 400px;
    height: 200px;
}
.column1 {
    display: flex;
    flex-direction: column;
    width: 50%;

}
.all-about {
    column-count: 2;
    column-rule-style: solid;
    column-rule-color: blue;
}
.all-work {
    column-count: 2;
    column-rule-style: solid;
    column-rule-color: blue;
}
.contact-me-all {
    column-count: 2;
    column-rule-style: solid;
    column-rule-color: blue;
}

